.rightSectiondiv{
    /* background-color: yellow; */
   height: 130vh;
    width: 85%;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 10px grey;
    display: flex;
    flex-wrap: wrap;
}

.abc{
    width: 96%;
    margin: auto;
    margin-top: 1rem;
}


