#inp{
    border: none;
    outline: none;
    width: 90%;
    padding: 4px;
    background-color: #EDF1FC;
}
.searchBarDiv{
    background-color: #EDF1FC;
    border: 1px solid black;
    border-radius: 50px;
    width: 15rem;
    box-shadow: 5px 5px 8px grey;
    padding: 10px;
    
}

.icon{
    display: flex;
    gap: 10px;
}
.caRD{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}

.btnn{
    width: 160px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(237,241,252);
    color: rgb(80, 79, 79);
    border: none;
    box-shadow: 5px 5px 8px grey;
    border: 1px solid grey;
    font-size: 15px;
}
.btnn:hover{
    background-color: rgb(5,41,81);
    color: #ffff;
    cursor: pointer;
    transition: 0.4s;
}
.btn{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    
}